@mixin bg-rools($bg-image){
    background-image: url($bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.App{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 120px;
    width: 100%;
    height: 900px;
    @include bg-rools('https://images.pexels.com/photos/916152/pexels-photo-916152.jpeg');

    .form{
        width: 500px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        padding: 1em;
        height: 300px;

        &-group{
            width: 100%;
            font-size: 18px;
            margin: 10px 0;

            input{
                width: 100%;
                margin: 8px 0;
                padding: 12px 10px;
            }

            label{
                font-variant: small-caps;
                list-style: 1px;
                font-weight: 600;

            }
        }
    }
}