label{
  margin-left: 10px;
}

.App-input {
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid silver;
  border-radius: 8px;
  margin-left: 10px;
}

.App-button {
    margin-left: 8px;
    background-color: #1e5f67;
    color: #fff;
    padding: 10px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  
  &:hover {
    background-color: #36a9a7;
    transition: .4s;
}}

.showDev{
  li{
    margin-left: 10px;
  }
}