.gender {
  width: 150px;
  margin: 50px 100px;

  .male {
    color: rgb(19, 19, 212);
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .female {
    color: rgb(234, 19, 184);
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .sort_button {
    width: 100px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.568);
    background-color: white;
  }
}
table {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #0e0e0e;
  border-collapse: collapse;

  th,
  td {
    border: 2px solid #0e0e0e;
    padding: 10px;
  }
  td {
    &.password {
      display: flex;
      align-items: center;
      min-width: 250px;
      border-width: 1px;
      justify-content: space-between;
      svg {
        font-size: 26px;
        color: blue;
        cursor: pointer;
      }
    }
  }
}
