.App{
    select{
        margin: 10px auto auto 10px;
        width: 160px;
        padding: 8px;
        margin-right: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 20px;
        option{
            font-size: 16px;
        }
    }
    .App-input{
        width: 100px;
        text-align: center;
        padding: 8px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 20px;
        
    }
    
    .App-item{
       margin: 50px auto;
       width: 80%;
       padding: 8px;
       border: 2px dashed rgba(27, 168, 147, 0.623);
       border-radius: 20px;
       background-color: rgba(240, 248, 255, 0.696);
       box-shadow: 1px -1px 10px 10px rgba(192, 192, 192, 0.543);
       
       p{
        padding: 10px;   
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-style: italic;
       }
    }
}