.ShopingCart table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  text-align: left;
}

img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  float: left;
  margin-right: 20px;
}

table tr {
  border-top: 2px solid #ddd;
}

table td, th {
  padding: 12px;
}

table td {
  vertical-align: top;
  font-size: 18px;
}

table td:first-child {
  max-width: 300px;
}

td.table-price {
  width: 100px;
}

td.table-quantity {
  width: 160px;
}

td.table-quantity input {

  text-align: center;
  width: 60px;
  font-size: 18px;

}

td.table-quantity input:focus {
  outline: none;
}

.content {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.content h2 {
  margin-bottom: 12px;
}

.icon {
  padding: 4px;
  font-weight: 700;
  margin: 0 5px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(149, 149, 149);
  border-radius: 2px;
  cursor: pointer;
}

.flex>span {
  font-size: 70px;
}