header{
    width:100%; 
    height: 40px;
    nav{
        height: 100%;
        
        ul{
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;
            background:none;
            li{
                display: flex;
                height: 100%; 
                padding: 10px;
                text-align: center;
                background: none;
                
                a{
                    margin:20px auto;
                    color: rgb(255, 255, 255);
                    background: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .drop-down{
                        margin-left:2px;
                        font-size: 18px;
                    }

                    button{
                        background-color: rgb(62, 123, 222);
                        height: 34px;
                        width: 140px;
                        border: none;
                        border-radius: 4px;
                        color: aliceblue;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }
                }
            
            
            }
        }
        }
    }
    
