





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.App__count{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 21px;
}

.count_one{
 
}

.count_two{

}

.count_three{

}


.App__button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
    padding: 4px;
    border-top: 1px solid;

}

.btn{
    border: none;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    cursor: pointer;
    width: 66px;
}

.btn:hover{
    font-size:x-large;
    transition: 1s;
}

.button__changeOne{
   
}

.button__changeTwo{

}

.button__changeThree{
   

}
