*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App__items{
   border: none;
   text-align: center;
   display: flex;   
   justify-content:center;
   align-items: center;
   flex-wrap: wrap;
   gap: 8px;
   margin: 40px;
}



.App__item{ 
    border: 2px dashed rgba(192, 192, 192, 0.852);
    width: 220px;
    height: 200px;
    position: relative;
    
 }
 

.App__btnAddPrice{
    cursor: pointer;
    width: 100px;
    margin: 4px;
    border: 1px dashed;
    border-radius: 20px;
    background-color: rgb(29, 180, 140);
    font-size: 16px;
    font-family:monospace;
    font-weight: 700;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 38px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 24px;
    line-height: 0.8;
}

.App__item__name{
    font-size: 60px;
}


.App__item__price{
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
}

.App__item__amount{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App__item_btnDelete{
    position: absolute;
    top: 2px;
    right: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    cursor: pointer;
    background: none;
    font-weight: 700;
    margin: 4px;
    border-color: rgb(224, 99, 99);
    color:rgba(255, 0, 0, 0.82) ;
}

