.container{
    margin: 0 auto;
    padding: 1em;
    text-align: center;

    form{
        width: 300px;
        border: 2px solid teal;
        border-radius: 12px;
        padding: 12px;
        height: 200px;
        margin: 0 auto;

        input,
        button{
            padding: 12px;
            width: 90%;
            margin: 10px auto 2px;
        }

        .error{
            text-align: left;
            color: #ff0404;
            width: 90%;
            margin: 0 auto;
            font-style: 14px;
            font-weight: 600;
        }
    }
}