.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .App-btns {
    margin: 30px;

    h1 {
      margin: 10px;
    }

    button {
      margin: 10px;
      width: 200px;
      height: 30px;
      font-size: 20px;
      border-radius: 6px;
    }
  }

  table {
    width: 80%;
    padding: 10px;
    border: 2px solid black;

    tr,
    td,
    th {
      border: 2px solid black;
      height: 50px;
      padding: 10px;
    }

    td {

      &.password {
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg{
          font-size: 20px;
          cursor: pointer;
          color: blue;
        }
      }
    }
  }
}
